/* Utilities */
body,
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.font-manrope{
    font-family: 'Manrope', sans-serif;
}
.font-abril{
    font-family: 'Abril Fatface', cursive;
}
.fw-medium{
    font-weight: 500;
}
.fw-semi-bold{
    font-weight: 600;
}
.color-sky{
    color: #3F87F5;
}
.color-blue{
    color: #231D4F;
}
.color-gray{
    color: #848199;
}
.color-grayest{
    color: #6C6C6C;
}
.color-black,
.navbar-light .navbar-nav .color-black{
    color: #3E3E3E;
}
.bg-gray{
    background-color: rgba(82, 67, 194, 0.103693);
}
.bg-pinkish-gray{
    background-color: rgba(244, 150, 209, 0.1);
}
.bg-sky{
    background-color: #3F87F5;
}
.bg-tomato{
    background-color: #FF4E4E;
}
.rounded-custom{
    border-radius: 1.625rem;
}
.fw-black{
    font-weight: 900;
}
.border-sky{
    border-color: #3F87F5 !important;
}



.fa-check{
    color: #5243C2;
}

footer{
    background-color: #0B0D17;
    color: #D9DBE1;;
}